<% provide(:title, "login") %>
<div class="row text-center justify-content-center">
  <div class="col-3">
    <%= form_for(:session, url: login_path) do |f| %>
     
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
        <%= link_to "Forget Password?", new_password_reset_path %>
      </div>  
    
      <div class="form-check text-left mb-3">
        <%= f.label :remember_me, class: "form-check-label pl-4"   %>
        <%= f.check_box :remember_me, class: "form-check-input ml-2" %>
      </div>
    
      <div class="form-group">
        <%= f.submit "Login", class: "btn btn-lg btn-block btn-primary" %>
      </div>
    <% end %>

   

    
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : ENV["FACEBOOK_KEY"],
          cookie     : true,
          xfbml      : true,
          version    : 'v4.0'
        });
          
        FB.AppEvents.logPageView();   
          
      };
    
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v4.0&appId=2444577532421541&autoLogAppEvents=1"></script>
    <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>


    
  </div>
</div>