<div class="row justify-content-center ">
  <div class="col-4 pb-5">
    <div class="card my-3 ">
      <h4 class="card-title card-header"><%= yield(:title) %></h4>

      <div class="card-body ">

        <%= form_for(former, url: yield(:path), method: yield(:method)) do |f| %>
          <%= show_errors f.object %>
    
          <div class="form-group bg-light">
            <% if former.user.avatar.attached? %>
              <%= image_tag former.user.avatar, id: "current_avatar" %>
            <% else %>
              <%= image_tag "sample-avatar.jpg", id: "current_avatar" %>
            <% end %>
            <%= f.label :avatar, "Your Avatar",class: "mt-2" %>
            <%= f.file_field :avatar %>
            
            <%= javascript_include_tag "preview_avatar.js" %>
          </div>
    
          <div class="form-group bg-light">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
    
          <div class="form-group bg-light">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
          
          <div class="form-group bg-light">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
    
          <div class="form-group bg-light">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
      
          <div class="form-group">
            <%= f.submit yield(:button_text), class: "btn btn-primary w-100" %>
          </div>
      
        <% end %>
      </div>
    </div>
      

  </div>
</div>