<tr>
  <td>
    <p>
      <% if user.avatar.attached? %>
        <%= image_tag user.avatar, style: "height: 100px; width: 100px"%>
      <% end %>
      <%= link_to user.name, user_path(user) %>
      <small class="text-muted">
        ． <%= user.feed.size %> posts
      </small>
    </p>
  </td>
  <td>
    <% if user.microposts.first.present? %>
      <p class="py-2">
        <%= user.microposts.first.content %>
      </p>
      <p class= "text-muted font-weight-light align-bottom">
        <%= time_ago_in_words(user.microposts.first.updated_at) %> ago
      </p>
    <% end %>
  </td>
  <td>
    <% if login? %>
      <% if current_user.admin? && !user.admin %>
        <%= link_to "delete", user_path(user), method: "delete", 
                                           data:{ confirmation: "Are you sure?"} %>
      <% end %>
    <% end %>
  </td>
</tr>