<div class="card">
  <%= show_avatar(user, "card-img-top") %>
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <h5 class="card-title"><%= user.name %></h5>
        <p class="card-subtitle text-muted"><%= user.email%></p>
      </div>
      <div class="col-4">
       <%= follow_button_html(user) %>
      </div>
    </div>
    <div class="row py-3">
      <div class="col">
        <%= link_to "Followers: #{ user.followers_count }", followers_user_path(user) %>
      </div>
      <div class="col">
        <%= link_to "Following: #{ user.following_count }", following_user_path(user) %>
      </div>
    </div>
    <%= edit_button user %>
  </div>
</div>