<div class="card">
  <%= image_tag user.avatar, class: "card-img-top" if user.avatar.attached? %>
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <h5 class="card-title"><%= user.name %></h5>
        <p class="card-subtitle text-muted"><%= user.email%></p>
      </div>
      <div class="col-4">
       <%= render "users/follow_form", user: user %>
      </div>
    </div>
    <div class="row py-3">
      <div class="col">
        <%= link_to "Followers: #{user.followers.size}", followers_user_path(user) %>
      </div>
      <div class="col">
        <%= link_to "Following: #{user.following.size}", following_user_path(user) %>
      </div>
    </div>

    <% if current_user?(user) %>
      <%= link_to "Edit", edit_user_path(user), class: "btn btn-sm btn-secondary" %>
    <% end %>
  </div>
</div>