<div class="card my-3" id="post-<%= post.id %>">

  <div class="row no-gutters">
    
    <div class="col-2">
      <% cache [post.user, post.user.avatar_attachment] do %>
        <%= show_avatar post.user, "card-img", nil %>
      <% end %>
    </div>

    <div class="col-9">
      <div class="card-body">
        <%= render "shared/micropost_title", micropost: post %>
        <%= render "shared/micropost_content", micropost: post %>
        <div style="width: 100%">
        <% cache [post.id, "sharing", post.sharing, post.user, post.user.avatar_attachment] do %>
          <%= show_sharing_post post %>
        <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="card-footer p-0">
    <div class = "row" id="bar-<%= post.id %>">
      <%= render "posts/post_function_bar", post: post %>
    </div>
  </div>

</div>