<!-- <div class="card my-3">
  <div class="card-body">
    <h5 class="card-title">
      <%= show_avatar micropost.user, nil, "height: 50px" %>
      <%= micropost.user.name %>
      <small class="text-muted">
        ． <%= time_ago_in_words(micropost.updated_at) %> ago
      </small>
    </h5>
    <p class="card-text">
      <%= micropost.content %>
    </p>
    <%= image_tag micropost.picture if micropost.picture.attached? %>

  </div>
  <div class="card-footer">
    <%= link_to fa_icon("comment"), "#" , class: "btn" %>
    <%= link_to fa_icon("retweet"), "#", class: "btn " %>
    <%= like_button(micropost)%>
    <%= link_to fa_icon("link"), "#", class: "btn" %>
  </div>
</div> -->