<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render "layouts/rails_default" %>
  </head>

  <body style="width: 1280px; height: 550px">
    <%= render "layouts/header" %>
    <div class="container py-5">
      <% flash.each do |msg_type, msg| %>
        <div class="alert alert-<%= msg_type %>">
          <%= flash[msg_type] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
