<!DOCTYPE html>

<html>
  <head>

    <title><%= full_title(yield(:title)) %></title>
    <%= render "layouts/rails_default" %>
  </head>

  <body style="width: 1280px; height: 550px">
    <%= render "layouts/header" %>
    <div class="container py-5">
      <% show_flash %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
